.navbar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 999;
	clear: both;
	background-color: rgba(255, 255, 255, 0.15);
}

.navbar-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	font-size: 0;
}

.navbar .navbar-list .navbar-item {
	display: inline-block;
	font-size: 16px;
}

.navbar .navbar-list .navbar-item:hover::before, 
.navbar .navbar-list .navbar-item.active::before {
  display: block;
  position: relative;
  border: 0px solid transparent;
  box-shadow: 0px 4px 5px 1px white;
	top: 40px;
	height: 0;
	width: 90%;
	margin: 0 auto;
  content: ' ';
}

.navbar .navbar-list .navbar-item.active::before {
	width: 100%;
	margin: 0;
	content: '▲';
	text-align: center;
	text-shadow: 0px 0px 5px rgba( 255, 255, 255, 0.45);
	color: transparent;
	line-height: 0px;
}

.navbar .navbar-list .navbar-item .navbar-link {
	text-decoration: none;
	padding: 13px 20px;
	color: white;
	display: inline-block;
}

.navbar-logo {
	display: inline-block;
	height: 40px;
	margin-top: 2px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;	
	width: 188px;
	background-image: url("../assets/images/logoSiteNavbarOn.png");
	margin-left: 10px;
}

.navbar-label {
	display: none;
	width: 30px;
	height: 30px;
	margin-top: 2px;
	float: right;	
}

#navbar-check {
	visibility: hidden;
	display: none;
}


@media (max-width: 767px) {
	.navbar .container {
		padding: 0;
	}
	
	.navbar {
		background-color: rgba(0, 0, 0, 0.65);

	}
	
	.navbar-logo {
		height: 30px;
		margin-top: 2px;
		background-position: right center;
		width: 100px;
		margin-left: 10px;
	}
	
	.navbar-list {
		width: 100%;
		clear: both;
		display: none;
	}
		
	.navbar-label {
		display: inline-block;
	}
	
	.navbar-label:hover {
		text-shadow: 0px 0px 10px #ffffff;
	}

	#navbar-check + .navbar-label::before {
		font-family: FontAwesome;
		font-size: 30px;
		content: '\f0c9';
		color: white;
		visibility: visible;
	}
	
	#navbar-check:checked + .navbar-label::before {
		content: '\f00d';
	}
		
	.navbar .navbar-list .navbar-item {
		display: block;
		width: 100%;
		text-align: center;
	}

	.navbar .navbar-list .navbar-item:hover,
	.navbar .navbar-list .navbar-item.active {
			text-shadow: 0px 0px 10px #ffffff;
			background-color:rgba(0, 0, 0, 0.45);
	}

	.navbar .navbar-list .navbar-item:hover::before ,
	.navbar .navbar-list .navbar-item.active::before {
			content: ' ';
			box-shadow: none;
	}

	#navbar-check:checked ~ .navbar-list {
		display: block;
	}

}

